title = "Главная"
url = "/"
layout = "default"
is_hidden = 0

[slider]
==
<div class="LayoutHeroSlider">
    {% component 'slider' %}
</div>
<div class="LayoutMain">
    <main class="Main" role="main">
        <section class="SectionHome SectionHomeWhat">
            <div class="container">
                <header class="SectionHome-header">
                    <h2 class="SectionHome-title">Что мы предлагаем?</h2>
                </header>

                <div class="SectionHome-content">
                    <ul>
                        <li>Консалтинг, финансовая логистика</li>
                        <li>Полная финансовая ответственность за товар</li>
                        <li>Оформление необходимой документации на груз</li>
                        <li>Сопровождение международных контрактов экспорта и импорта</li>
                        <li>Обработка грузов на складах</li>
                        <li>Таможенно-брокерские услуги</li>
                        <li>Услуги таможенного склада временного хранения</li>
                        <li>Прием, консолидация и хранение транзитных и других грузов на СВХ</li>
                        <li>Определение кода по ТН ВЭД СНГ, определение тарифной ставки по коду ТН ВЭД СНГ</li>
                        <li>Транспортные услуги</li>
                        <li>Экспедирование грузов</li>
                        <li>Консолидация грузов</li>
                    </ul>
                </div>

            </div>
        </section>





        <section class="SectionHome SectionHome--invertColor SectionHomeWhy">

            <aside class="SectionHome SectionHome--invertColor SectionHomeCTA">
                <div class="container ">
                    <form action="" method="post" class="Form FormCTA">
                        <fieldset>
                            <legend>Заказать обратный звонок</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="Form-group">
                                        <label for="client_name" class="Form-label" title="Ваше имя">Ваше имя:</label>
                                        <input type="text" id="client_name" name="name" class="Form-control"
                                               placeholder="Максим" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="Form-group">
                                        <label for="client_phone" class="Form-label" title="Ваш телефон">Ваш
                                            телефон:</label>
                                        <input type="tel" id="client_phone" name="phone" class="Form-control"
                                               placeholder="8 952 965 98 77" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button class="Button Form-button Button--fluid" type="button">Отправить</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </aside>


            <div class="container">
                <header class="SectionHome-header">
                    <h2 class="SectionHome-title">Почему нам доверяют?</h2>
                </header>

                <div class="SectionHome-content">

                    <div class="row">
                        <div class="col-md-3"><strong>Lorem ipsum dolor sit amet, pri oratio blandit ex, quod nisl mel ut. Erant facilisis mei cu, te vitae affert has, ne pro eligendi honestatis deterruisset.</strong></div>
                        <div class="col-md-3"><strong>Lorem ipsum dolor sit amet, pri oratio blandit ex, quod nisl mel ut. Erant facilisis mei cu, te vitae affert has, ne pro eligendi honestatis deterruisset.</strong></div>
                        <div class="col-md-3"><strong>Lorem ipsum dolor sit amet, pri oratio blandit ex, quod nisl mel ut. Erant facilisis mei cu, te vitae affert has, ne pro eligendi honestatis deterruisset.</strong></div>
                        <div class="col-md-3"><strong>Lorem ipsum dolor sit amet, pri oratio blandit ex, quod nisl mel ut. Erant facilisis mei cu, te vitae affert has, ne pro eligendi honestatis deterruisset.</strong></div>
                    </div>
                </div>
            </div>
        </section>


    </main>
</div>