title = "Контакты"
url = "/contact"
layout = "default"
is_hidden = 0
==
<div style="margin-bottom: 20px" class="LayoutMain">
    <main class="Main" role="main">
      <article class="Post">
        <header class="Post-header">
          <h1 class="Post-title container">Контакты</h1>
        </header>

        <div class="Post-content container">
          <div class="row">
            <div class="col-md-6">
              <div class="ContactsMap" style="height: 400px;" id="ContactsMap">
                  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa900b931a273871a1e572774018ade13e6eda3f69ea8d6715d102aaf30f0d512&amp;width=600&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="ContactsInfo">
                <li class="ContactsInfo-item">
                  <b>Адрес:</b> г. Брянск...
                </li>
                <li class="ContactsInfo-item">
                  <b>Офис:</b> <a href="tel:+0000000">0000000</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

    </main>
  </div>