title = "Новости"
url = "/news"
layout = "default"
is_hidden = 0
==
<style>
    .posts {
        margin-bottom: 30px;
    }
    .image-news {
        width: 200px;
    }

    .link-image {
        display: block;
    }

    .link-image img {
        max-width: 100%;
    }
    .title h1{
        margin: 0;
    }
    .dt{
        color: #357cd1;
        padding: 10px;
    }

    .dt span {

    }
</style>
<div class="LayoutMain">
    <main class="Main" role="main">
        <article class="Post">
            <header class="Post-header">
                <h1 class="Post-title container">Новости</h1>
            </header>

            <div class="Post-content container">

                <div class="posts">
                    <div class="item-posts">
                        <div class="row">

                            <div class="image-news col-md-3">
                                <a class="link-image" href="">
                                    <img src="http://via.placeholder.com/200x150" alt="">
                                </a>
                            </div>
                            <div class="col-md-9">
                                <div class="title">
                                    <h1>Новость 1</h1>
                                </div>
                                <div class="dt">
                                   <span>Дата: </span> 22.10.2017
                                </div>

                                <div class="text-post">
                                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                        Lorem Ipsum является0стандартной "рыбой" для текстов на латинице с начала XVI века.
                                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum
                                        для распечатки образцов.
                                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item-posts">
                        <div class="row">

                            <div class="image-news col-md-3">
                                <a class="link-image" href="">
                                    <img src="http://via.placeholder.com/200x150" alt="">
                                </a>
                            </div>
                            <div class="col-md-9">
                                <div class="title">
                                    <h1>Новость 2</h1>
                                </div>
                                <div class="dt">
                                    <span>Дата: </span> 22.10.2017
                                </div>

                                <div class="text-post">
                                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                        Lorem Ipsum является0стандартной "рыбой" для текстов на латинице с начала XVI века.
                                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum
                                        для распечатки образцов.
                                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </article>

    </main>
</div>