title = "Услуги"
url = "/services"
layout = "default"
is_hidden = 0

[servicelist]
==
<div class="LayoutMain">
    <main class="Main" role="main">
      <article class="Post">
        <header class="Post-header">
          <h1 class="Post-title container">Услуги</h1>
        </header>

        <div class="Post-content container">
          <div class="row">

{% component 'servicelist' %}
          </div>
        </div>
      </article>

    </main>
  </div>