/*===============================
=            Helpers            =
===============================*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bolder;
}

.text-danger {
  color: #F44336;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Table layout fixed
.table-fixed {
  @include mq($from: md) {
    table-layout: fixed;
  }
}
/*=====  End of Helpers  ======*/
