%border-rounded {
  border-radius: 2px;
}

%border-rounded--top {
  border-radius: 2px 2px 0 0;
}

%border-rounded--bottom {
  border-radius: 0 0 2px 2px;
}

// List clear
%list-clear {
  padding: 0;
  margin: 0;
  list-style: none;
}

%transform-middle {
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  transform: translate3d(-50%, -50%, 0) ;
}

// Pseudo table
%d-table {
  display: table;
}

%d-tr {
  display: table-row;
}

%d-td {
  display: table-cell;
}

