$mainColor: #212121;
$brandColor: #E53935;
$accentColor: $brandColor;
$dangerColor: #F44336;
$darkColor: #1c1c1c;
$lightColor: #eee;
$mutedColor: #777;

$mainColorCall: #ff7473;
$mainColorChat: #47b8e0;


$mainFontFamily: 'Roboto', sans-serif;
$altFontFamily: 'Roboto Condensed', sans-serif;
$baseLineHeight: 1.42;


/*=====================================
=            Mfp overrides            =
=====================================*/

$mfp-overlay-color: #fff;
$mfp-overlay-opacity: 0.8;
$mfp-shadow: null;
$mfp-controls-opacity: 1;
$mfp-controls-border-color: $mainColor;
$mfp-inner-close-icon-color: $mainColor;

/*=====  End of Mfp overrides  ======*/



/*===================================
=            Breakpoints            =
===================================*/

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: null,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1280px,
  xxl: 1920px
) !default;

$mq-breakpoints: $grid-breakpoints;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 600px,
  md: 740px,
  lg: 840px,
  xl: 1080px,
  xxl: 1440px
) !default;


$container-fonts-size: (
  sm: null,
  md: null,
  lg: 16px,
  xl: 18px,
  xxl: 19px
) !default;
