.Brand {
  margin: 0 0 1em;
  color: $brandColor;
  font-size: 1.5em;
  // font-weight: bolder;

  &-logo {

  }

  &-text {
    margin-left: 0.5em;
  }

  @include mq($from: md) {
    margin-bottom: 0;
  }
}
