%button-default {
  @extend %border-rounded;
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  border: none;
  background: none;
  position: relative;
  line-height: 1;
  // text-transform: uppercase;
  font-family: $altFontFamily;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.15s ease-out;
  text-align: center;
  // font-weight: lighter;
  padding: 0.7em 1.2em;
  cursor: pointer;
  box-sizing: border-box;
  &:hover,
  &:focus {

  }

  &:hover {

  }

  &:active {
    transform: translate3d(0, 0.05em, 0);
  }
}

// Sizes
%button-size-small {
  font-size: rem(12);
}

%button-size-medium {
  font-size: rem(15)
}

%button-size-large {
  font-size: rem(17)
}

// Colors
%button-color-default {
  background-color: $accentColor;
  color: #fff;
  &:hover,
  &:focus {
    background-color: lighten($accentColor, 5%);
  }

  &:active {
    background-color: lighten($accentColor, 8%);
  }
}

.Button {
  @extend %button-default;
  @extend %button-size-medium;
  @extend %button-color-default;
}

.Button--fluid {
  width: 100%;
}
