.card-gallery {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 0;
  margin-right: 0;

  &__item {
    border: 4px solid transparent;
    transition: border-color 0.2s;
    &:hover {
      border-color: $accentColor;
    }
  }


  &-content {
    
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    width: 50px;
    top: 0;
    bottom: 0;
    background: none;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-size: contain;
    background-position: 50%;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.5s;
    overflow: hidden;
    text-indent: 110%;
    padding: 0;
    font-size: 0;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }

  }

  .slick-prev {
    left: 0;
    right: auto;
    background-image: url("../../images/control-prev.png");
  }

  .slick-next {
    right: 0;
    left: auto;
    background-image: url("../../images/control-next.png");
  }

  .slick-disabled {
    opacity: 0;
    transform: scale(0);
  }

  @include mq($from: md) {

    // margin-left: -0.5em;
    // margin-right: -0.5em;

    &__item {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }


    // .slick-prev {
    //   left: auto;
    //   right: 100%;
    // }

    // .slick-next {
    //   right: auto;
    //   left: 100%;
    // }
  }
}