.card {
  font-size: 1.2em;
}

.card-main-image {
  border: 4px solid $accentColor;
}

.card-text {
  margin-bottom: 2em;
  text-align: center;
}

.card-title {
  margin-top: 0;
  line-height: 1.2;
}

.card-details-list {
  @extend %list-clear;
  display: table;
  margin: 0 auto 3em;
}

.card-detail {
  display: table-row;
  text-align: left;
  &__key {
    font-weight: bolder;
    display: table-cell;
    font-family: $altFontFamily;
    &:after {
      content: ":";
    }
  }

  &__value {
    display: table-cell;
    padding-left: 1em;
  }
}

.card-price {
  font-size: 1.5em;
  color: $accentColor;
  font-family: $altFontFamily;
  &__number {
    font-weight: bolder;
    font-size: 1.2em;
  }
}

.card-galley {
  &__item {

  }
}

.card-thumbs-image {
  @include responsiveObject(640, 420);
  display: block;
  > img {

  }
}



// MQ: md<
@include mq($from: md) {
  .card {
  }

  .card-main-image {

  }

  .card-text {
    text-align: left;
  }

  .card-title {

  }

  .card-details-list {
    margin-left: 0;
    margin-bottom: 2em;
  }

  .card-detail {
    &__key {
    }

    &__value {

    }
  }

  .card-price {

  }

  .card-galley {
    &__item {

    }
  }

  .card-thumbs-image {
    > img {

    }
  }
}