.catalog-menu {
  @extend %list-clear;

  display: table;
  width: 100%;
  text-align: center;
  &-item {

    display: table-cell;
    vertical-align: top;
    color: #fff;
    transition: color 0.18s;
    &:hover {
      color: $accentColor;
    }
  }

  &-link {
    display: block;
    color: currentColor;
    text-decoration: none;
  }

  &-icon {
    display: block;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-bottom: 0.5em;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100px;
    background-size: contain;

    &--old-auto {
      background-image: url('../../images/old-auto.png');
      .catalog-menu-item--is-active & {
        background-image: url('../../images/old-auto-active.png');
      }
    }

    &--new-auto {
      background-image: url('../../images/new-auto.png');
      .catalog-menu-item--is-active & {
        background-image: url('../../images/new-auto-active.png');
      }
    }

    &--bike {
      background-image: url('../../images/bike.png');
      .catalog-menu-item--is-active & {
        background-image: url('../../images/bike-active.png');
      }
    }
  }

  &-text {
    display: block;
  }

  // MQ
  @include mq($from: md) {
    &-item {
      &--is-active {
        color: $accentColor;
      }
    }

    &-link {
      
    }

    &-icon {

    }

    &-text {

    }
  }
}