.Contact {

  &--header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-align: center;

    .Contact-line {
      // width: 50%;
      flex: 1 0 50%;
      text-align: center;
    }
  }

  &-line {
  }

  &-phone {
    font-size: 1.2em;
    white-space: nowrap;

    .icon {
      font-size: 1.24em;
    }
  }

  &-button {
    @extend %button-default;
    font-size: 1.2em;
    @extend %button-color-default;
  }

  @include mq($from: md) {


    &--header {
      display: block;
      align-items: center;

      .Contact-line {
        width: auto;
      }
    }

    .Iconizer {
      margin-left: auto;
    }

    float: right;
    text-align: right;
    font-size: 1em;

    &-line {
      margin-bottom: 0.5em;
    }

    &-button {
      font-size: 1em;
    }
  }


  @include mq($from: xl) {
    
  }
}


