.custom-radiobox {
  display: block;
  vertical-align: middle;
  height: 0;
  padding-top: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;
  input {
    display: none;

    &:checked {

    }
  }

  &__surrogate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: $accentColor;
    box-sizing: border-box;
    color: $mainColor;
    text-align: center;
    font-size: rem(16);
    transition: background-color 0.2s 0.05s, border-color 0.1s, transform 0.15s;
    line-height: 1;


    &:hover {
      background-color: lighten($accentColor, 15%);
      // transition: background-color 0.15s;
    }

    input:checked + & {
      border-color: $accentColor;
      background-color: #fff;
      transform: scale(0.91);
      font-weight: bolder;
    }
  }

  &__value {
    @extend %transform-middle;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @include mq($from: md) {
    &__surrogate {
      font-size: rem(11);
    }
  }
}