.fixed-box {
  position: fixed;
  top: 50%;
  left: 0;
  background: url("../../images/eco-label.png") no-repeat 0% 50%;
  background-size: contain;
  z-index: 15;
  overflow: hidden;

  &__link {
    $height: 200px;
    display: block;
    width: 100px;
    height: $height;
    border-radius: 0 ($height / 2) ($height / 2) 0;
  }
}