.form-calculation {
  @extend %border-rounded;
  background-color: rgba(#000, 0.85);
  color: #fff;
  padding: rem(14);

  font-size: rem(14);

  legend {
    text-align: center;
    font-size: rem(24);
    display: block;
    margin: 0 auto em(20, 24);
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 5px;
  }

  .form-label {
    margin-bottom: 0.8em;
    font-size: 16px;
    font-family: $altFontFamily;
  }

  .custom-radiobox {
    
  }

  @include mq($from: md) {
    .form-label {
      text-align: right;
      font-size: rem(14);
      margin-bottom: 0;
    }
  }
}