.form {

}



fieldset {
  padding: 0;
  border: none;
  margin: auto;
}

legend {
  font-weight: bolder;
}

input {
  // border-radius: 2px;
}
// [type="tel"],
// [type="number"] {
//   font-family: 'Roboto Mono', 'Roboto';
// }

textarea {
  &.Form-control {
    resize: vertical;
    height: auto;
  }
}

.Form-label {
  margin-bottom: 5px;
  display: inline-block;
  font-family: $altFontFamily;
  vertical-align: middle;
  // font-size: 0.9em;
}

.Form-group {
  margin-bottom: rem(20);
}

.Form-control {
  @extend %border-rounded;
  max-width: 100%;
  width: 100%;
  height: rem(40);
  line-height: normal;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #fff;
  padding: rem(5) rem(10);
  background-color: #fff;
  outline: none;
  border: 1px solid #999;
  transition: box-shadow 0.2s, border-color 0.2s;

  &:hover {
    box-shadow: 0 0 3px rgba(#000, 0.3);
    border-color: $mutedColor;
  }

  &:focus {
    box-shadow: 0 0 3px 1px rgba(#03A9F4, 0.6);
    border-color: rgba(#03A9F4, 0.6);
  }

  @include mq($from: md) {
    // height: rem(35);
  }
}

.Form-button {
  height: rem(40);
}
