.FormCTA {
  legend {
    // font-weight: lighter;
    // font-family: $altFontFamily;
    text-align: center;
    margin-bottom: 1.8em;
  }

  .Form-label {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }

  .Form-control {
    // border-color: transparent;

    &:hover {
      box-shadow: 0 0 3px 1px rgba(#fff, 0.7);
    }
    &:focus {
      box-shadow: 0 0 3px 2px rgba(#03A9F4, 0.7);
    }
  }

  .Button {
    margin-top: 0.8em;
    font-size: 1.2em;
  }

  @include mq($from: md) {

    .Button {
      margin-top: calc(1em * #{$baseLineHeight} + 5px);
      font-size: 1em;
    }
  }
}
