/*============================
=            Grid            =
============================*/
$gutter: 16px;
$columns: 12;


.container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  position: relative;
  box-sizing: border-box;

  @include mq($from: sm) {
    max-width: map-get($container-max-widths, "sm");
  }

  @include mq($from: md) {
    max-width: map-get($container-max-widths, "md");
  }

  @include mq($from: lg) {
    max-width: map-get($container-max-widths, "lg");
  }

  @include mq($from: xl) {
    max-width: map-get($container-max-widths, "xl");
  }

  @include mq($from: xxl) {
    max-width: map-get($container-max-widths, "xxl");
  }

  &--narrow {

    @include mq($from: sm) {
      max-width: (map-get($container-max-widths, "sm") - 150px);
    }

    @include mq($from: md) {
      max-width: (map-get($container-max-widths, "md") - 150px);
    }

    @include mq($from: lg) {
      max-width: (map-get($container-max-widths, "lg") - 150px);
    }

    @include mq($from: xl) {
      max-width: (map-get($container-max-widths, "xl") - 150px);
    }

    @include mq($from: xxl) {
      max-width: (map-get($container-max-widths, "xxl") - 150px);
    }
  }

  &--fluid {
    max-width: 100%;
  }
}

.row {
  @include clearfix;
  margin-left: -$gutter;
  margin-right: -$gutter;
  display: flex;
  flex-wrap: wrap;

  &:last-of-type {
    // margin-bottom: 0;
  }

  // Удаляет маржины по бокам
  &--no-gutters {
    margin-left: 0;
    margin-right: 0;
  }

  // Удаляет маржин снизу
  &--no-mb {
    margin-bottom: 0;
  }

  // Уменьшаем отступы в 2 раза
  &--condensed {
    margin-left: (-$gutter / 2);
    margin-right: (-$gutter / 2);
  }
}

[class^="col-"],
[class*="col-"] {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding-left: $gutter;
  padding-right: $gutter;
  min-height: 1px;
  // margin-bottom: ($gutter * 2);

  .row--condensed > & {
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
    // margin-bottom: $gutter;
  }

  .row--no-gutters > & {
    padding-left: 0;
    padding-right: 0;
  }

  .row--no-mb > & {
    // margin-bottom: 0;
  }
}



@for $i from 1 through $columns {
  .col-#{$i} {
    width: percentage($i / $columns);
  }
  .col-offset-#{$i} {
    margin-left: percentage($i / $columns);
  }
}



// SM
@include mq($from: sm) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: percentage($i / $columns);
    }
    .col-offset-sm-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

// MD
@include mq($from: md) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: percentage($i / $columns);
    }
    .col-offset-md-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

// LG
@include mq($from: lg) {
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      width: percentage($i / $columns);
    }
    .col-offset-lg-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

// XL
@include mq($from: xl) {
  @for $i from 1 through $columns {
    .col-xl-#{$i} {
      width: percentage($i / $columns);
    }
    .col-offset-xl-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}

// XXL
@include mq($from: xxl) {
  @for $i from 1 through $columns {
    .col-xxl-#{$i} {
      width: percentage($i / $columns);
    }
    .col-offset-xxl-#{$i} {
      margin-left: percentage($i / $columns);
    }
  }
}




.col-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/*=====  End of Grid  ======*/
