.headline {
  padding-top: rem(10);
  padding-bottom: rem(10);
  background-color: rgba(#000, 0.77);
  color: #fff;
  border-bottom: 1px solid #fff;
  text-align: center;

  .address {
    margin: 0;
    padding: 0;

    &__termin {
      font-weight: bolder;
    }

    &__definition {
      margin: 0;
      padding: 0;
    }
  }

  .brand {
    text-align: center;
    &-text {
      font-weight: normal;
      font-size: rem(40);
      margin: 0;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .phone {
    font-size: rem(24);
    margin-bottom: 1em;
    .icon {
      width: 38px;
      height: 38px;
    }
  }

  .button-action-open-callback {
    @extend %button-size-small;
    text-transform: none;
  }

  @include mq($from: sm) {
    text-align: left;

    .brand {
      &-text {
        font-size: rem(40);
      }
    }

    &__piece-right {
      text-align: right;
    }
  }
}