.HeroSlider {
  $heroSlider: &;
  overflow: hidden;
  &-item {
    padding: 2em;
    background-position: center;
    background-size: cover;
    // transform: translateZ(0);
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.4);
      background: linear-gradient(to bottom, rgba(#000, 0.5), rgba(240, 98, 146, 0.3) 80%);
    }
  }

  &-content {
    height: 50vh;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;

    strong {
      font-weight: normal;
      font-family: $altFontFamily;
    }
  }

  @include mq($from: md) {

    &:hover {
      .slick-arrow {
        transition: transform 0.6s, opacity 0.2s;
        opacity: 1;
        transform: none;
      }
    }

    &-content {
      // height: 54vmin;

    }

    .slick-arrow {
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 90px;
      top: 50%;
      margin-top: -45px;
      bottom: 0;
      background: none;
      background-repeat: no-repeat;
      outline: none;
      border: none;
      background-size: contain;
      background-position: 50%;
      cursor: pointer;
      transition: opacity 0.2s 0.3s, transform 0.3s 0.3s;
      overflow: hidden;
      // text-indent: 110%;
      padding: 0;
      // font-size: 0;
      // background-color: #E04076;
      // color: #E04076;
      color: #fff;
      opacity: 0;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }

      &__icon {
        width: 100%;
        height: 100%;
      }

    }

    .slick-prev {
      left: 4rem;
      right: auto;
      // background-image: url("../../images/control-prev.png");
      transform: translate3d(-5rem, 0 , 0);
    }

    .slick-next {
      right: 4rem;
      left: auto;
      // background-image: url("../../images/control-next.png");
      transform: translate3d(5rem, 0 , 0);
    }
  }
}
