.Iconizer {
  display: table;
  margin-left: auto;
  margin-right: auto;
  // margin: auto;
  &-slot {
    display: table-cell;
    vertical-align: middle;
    & + & {
      padding-left: 10px;
    }
  }

  &-picture {
    // min-width: 42px;
    // min-height: 42px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
  }

  &-content {

  }
}

// В строку (по умолчанию)
// .Iconizer--row {
//   display: table;

//   .Iconizer-slot {
//     display: table-cell;
//     vertical-align: middle;
//   }
// }

// В колонку
.Iconizer--column {
  display: inline-block;
  text-align: center;

  .Iconizer-slot {
    display: block;
  }
}
