.icon {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 1em;
  height: 1em;
}

svg.icon {
  fill: currentColor;
}

.section-intro-icon-01 {
  background-image: url('../images/icons/section-intro-icon-01.png');
}
.section-intro-icon-02 {
  background-image: url('../images/icons/section-intro-icon-02.png');
}
.section-intro-icon-03 {
  background-image: url('../images/icons/section-intro-icon-03.png');
}