.info-counters {
  @extend %border-rounded;
  color: #fff;
  text-align: center;
  position: relative;
  font-family: $altFontFamily;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1px;
    border-left: 1px solid rgba(#fff, 0.5);
  }
}

.info-counter {

  &__label {
    margin-bottom: 0.8em;
    line-height: 1.2;
    span {
      vertical-align: middle;
    }
  }

  &__value {
    display: flex;
    justify-content: space-around;
  }

  &__box-number {
    @extend %border-rounded;
    display: inline-block;
    background-color: #111;
    background-color: rgba(#000, 0.5);
    padding: 0 0.6em;
    line-height: 2.2;
    border: 1px solid rgba(#fff, 0.85);
    position: relative;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 1.2em;
  }

  &__number {
    // position: absolute;
  }
}