.MainNav {
  &-list {
    @extend %list-clear;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    float: left;
  }

  &-link {
    padding: 0.5em 1em;
    display: block;
    text-decoration: none;
    color: $mainColor;
    outline: none;

    &:hover,
    &:focus {
      color: $accentColor;
    }

    .MainNav-item-isActive & {
      background-color: $accentColor;
      color: #fff;
    }
  }

  @include mq($from: md) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    float: right;
  }

  @include mq($from: xl) {
    margin-top: 1.7em;
    // float: left;

    &-link {
      padding-left: 1.1em;
      padding-right: 1.1em;
    }
  }
}



.Menu-trigger {
  margin-bottom: 1.5em;
}
