.wrapper-main-nav {
  background-color: rgba(#000, 0.77);
}

.main-nav {
  // font-size: rem(20);
  user-select: none;
  // font-weight: lighter;


  &-list {
    @extend %list-clear;
    @extend %d-table;
    width: 100%;
  }

  &__item {
    @extend %d-td;
    text-align: center;
    vertical-align: middle;
    outline: none;

    &:hover {

    }

    &.is--active {

    }
  }

  &__link {
    text-decoration: none;
    padding: 1em 0.15em;
    display: block;
    color: #fff;
    transition: 0.2s;
    outline: none;

    .main-nav__item:hover &,
    .main-nav__item:focus & {
      // background-color: #fff;
      color: $accentColor;
    }

    // Context .is--active
    .is--active &,
    .is--active:hover & {
      cursor: default;
      background-color: #fff;
      color: $mainColor;
    }
  }
}