.media-box {
  // display: inline-block;
  line-height: 1.42;
  // background-color: #ae6;
  // padding: 10px;
}

.media-box-image {
  // width: 100px;
  // height: 100px;
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.media-box-text {
  // Основной текст
  &__primary {
    font-size: 1.2em;
    font-weight: bolder;
  }

}

// Направление в колонку
.media-box--direction-column {
  
  .media-box-image {
    
  }
  
  .media-box-text {
    margin-top: 0.5em;
    text-align: center;
  }
}

// Направление в строку
.media-box--direction-row {

  .media-box-image,
  .media-box-text {
    display: inline-block;
    vertical-align: middle;
  }
  
  .media-box-image {
    
  }
  
  .media-box-text {
    padding-left: 0.8em;
  }
}