.Popup {
  max-width: 500px;
  margin: auto;
  // color: #fff;

  button.mfp-close {
    position: absolute;
    bottom: 100%;
    top: auto;
    left: 50%;
    border: 1px solid;
    box-sizing: border-box;
    margin-left: -22px;
    margin-bottom: 0.5em;
    border-radius: 50%;
  }
}

.mfp-fade.mfp-bg {
  // opacity: 0;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}