.Popup-contact-form {
  // color: currentColor;
  // color: $mainColor;
  text-align: center;
  // font-size: rem(20);
  // max-width: 400px;
  margin: auto;

  legend {
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .Form-group {
    margin-bottom: 1.5em;
  }

  .Form-control {
    height: 50px;
  }
  textarea.Form-control {
    height: auto;
    min-height: 120px;
  }
}