.Post {

  &-linkBack {
    font-family: $altFontFamily;
    text-decoration: none;
    span {
      border-bottom: 1px solid;
    }
  }

  &-header {
    text-align: center;
    margin-bottom: rem(60);
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #afd;
    background-image: linear-gradient(to bottom right, #F9423E, #CE5590 110%);
    background-attachment: fixed;
    color: #fff;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  &-content {
    > :first-child {
      margin-top: 0;
    }
  }
}
