.product {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  outline: none;
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 1em;

  &:hover,
  &:focus {
    color: $accentColor;

    .product__box-image {
      border-color: $accentColor;
      transition: border-color 0.3s;
    }
  }

  &__box-image {
    @include responsiveObject(370, 270);
    border: 4px solid transparent;
    margin-bottom: 0.5em;
    transition: border-color 0.5s 0.06s;
    img {
      box-sizing: border-box;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }



  @include mq($from: md) {
    margin-bottom: 0;
    &__box-image {

    }

    &__text {
      
    }
  }
}