.SectionHomeIntro {
  background-color: $accentColor;
  background-image: linear-gradient(to bottom right, #F9423E, #CE5590 130%);

  .Iconizer {
    margin-bottom: 1.5em;

    &-picture {
      font-size: 4.7em;
    }
    
    &-content {
      margin-left: 0.5em;
    }
  }

  @include mq($from: md) {
    .Iconizer {
      margin-bottom: 0;
    }
  }
}