.section-advantages {
  background: url("../../images/bg-section-advantages.jpg") no-repeat 50%;
  background-size: cover;

  h2 {
    margin-top: 0;
    @extend %border-rounded;
    background-color: $accentColor;
    color: #fff;
    font-size: rem(30);
    padding: 0.4em 1em;
    // margin-top: 0;
    margin-bottom: 2em;
  }

  ul {
    @extend %list-clear;

    margin: 0;
    padding: 0;
  }

  li {
    @extend %border-rounded;
    background-color: #fff;
    margin-bottom: 2em;
    padding: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq($from: md) {
    font-size: rem(19);

    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 300px;
      top: 100%;
      background-color: #fff;
      z-index: 2;
    }

    &:before {
      right: 60%;
      transform-origin: 100% 0;
      transform: skewY(5deg);
    }

    &:after {
      left: 40%;
      transform-origin: 0 0;
      transform: skewY(-5deg);
    }

    h2 {
      display: inline-block;
    }
    ul {
      // padding-left: 2em;
    }
    li {
      padding: 1em 100px 1em 70px;
      margin-bottom: 1.5em;
      position: relative;
      clip-path: polygon(0% 0%, calc(100% - 90px) 0%, 100% 100%, 0% 100%);
      &:before {
        content: url("../../images/marker-list.png");
        position: absolute;
        left: 14px;
      }
    }
  }
}