.section-conditions {

  h2 {
    margin-top: 0;
    font-weight: bolder;
    font-size: rem(30);
  }

  ol {

  }

  li {
    margin-bottom: 1em;
  }

  @include mq($from: md) {
    font-size: rem(19);
    > .container {
      background: url("../../images/section_conditions/section-image.jpg") no-repeat 100% 50%;
      background-size: 330px;
    }

    ol {
      counter-reset: list-conditions;
      @extend %list-clear;
    }

    li {
      background-color: rgba(#fff, 0.85);
      padding: 0.5em;
      padding-left: 1.5em;
      &:before {
        content: counter(list-conditions);
        counter-increment: list-conditions;
        font-size: 1.8em;
        font-weight: lighter;
        float: left;
        margin-left: -1em;
        position: relative;
        top: -10px;
        line-height: 1;
      }
    }
  }
}