.section-features {
  background-color: $darkColor;
  color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
  .media-box {
    font-size: 0.8rem;
    display: table;

    &-image {
      display: table-cell;
      text-align: center;

      svg {
        width: 140px;
        height: 130px;
        fill: none;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    &-text {
      padding-left: 0.8em;
      display: table-cell;
      vertical-align: middle;
      text-align: left;

      &__primary {
        margin-bottom: 0.5em;
      }
    }
  }

  @include mq($from: md) {
    [class*="span-"] {
      margin-bottom: 0;
    }

    .media-box {
      // text-align: center;
      &-image {
        display: block;
        margin-bottom: 1em;
      }

      &-text {
        display: block;
        text-align: center;

        &__secondary {
          font-weight: lighter;
        }
      }
    }
  }

  @include mq($from: md) {

  }
}