.SectionHomeWhat {
  ul {
    @extend %list-clear;
    font-size: 1.1em;

    li {
      @extend %border-rounded;
      background-color: #eee;
      padding: 1em;
      box-sizing: border-box;
      margin-bottom: 1.2em;
    }
  }


  @include mq($from: md) {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
        width: calc(50% - 1em);
        margin-bottom: 1.4em;
        padding: 0.5em 0.8em;
        padding-left: 3em;
        background-repeat: no-repeat;
        background-position: 0.2em 50%;
        background-size: 2em;
        background-image: url('../images/svg_icons/marker-list.svg');
      }
    }
  }
}