.section-how-work {
  background-color: $darkColor;
  color: #fff;

  h2 {
    font-size: rem(30);
    margin-top: 0;
  }

  .media-box {
    text-align: center;
    font-weight: lighter;

    .media-box-image {
      width: 140px;
      height: 140px;
      line-height: 140px;
      margin: 0 auto 2em;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: darken($darkColor, 7%);
      .icon {
        width: 80px;
        height: 80px;
      }
    }
  }

  @include mq($from: md) {
    background: url("../../images/bg-section-work.jpg") no-repeat 50%;
    background-size: cover;
    

    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 300px;
      bottom: 100%;
      background-color: #fff;
      z-index: 2;
    }

    &:before {
      right: 40%;
      transform-origin: 100% 0;
      transform: skewY(-5deg);
    }

    &:after {
      left: 60%;
      transform-origin: 0 0;
      transform: skewY(5deg);
    }

    .media-box {
      font-size: 0.8em;
    }
  }
}