.SectionHomeAdditional {
  background-color: #e7e7e7;
  .Iconizer {
    margin-bottom: 2em;
    &-picture {
      width: 7em;
      height: 7em;
      background-color: $accentColor;
      background-image: linear-gradient(to bottom right, #F9423E, #CE5590);
      border-radius: 50%;
      position: relative;
      color: #fff;

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 72%;
        height: 72%;
        transform: translate3d(-50%, -50%, 0);
      }

    }

    &-content {
      margin-left: 1em;
      font-size: 1.4em;
      font-family: $altFontFamily;
    }
  }


  @include mq($from: md) {
    .Iconizer {
      margin-bottom: 0;
      &-picture {
        width: 6.5em;
        height: 6.5em;
      }

      &-content {
        // margin-left: 1em;
        font-size: 1.2em;
      }
    }

  }

}