.section-cta {
  font-size: rem(20);
  padding-top: rem(50);
  padding-bottom: rem(50);

  b {
    display: block;
  }

  .button {
    margin-top: 1em;
    font-size: 1.3em;
  }

  @include mq($from: md) {
    b {
      display: inline;
    }
    .button {
      margin-top: 0;
      margin-left: 1em;
    }
  }
}