.SectionHomeWhy {
  padding-top: 0;
  background-color: #468;
  background-image: linear-gradient(120deg, #303F9F, #714DAF);

  .SectionHome-content {
    font-size: 1.3em;
    font-family: $altFontFamily;

    strong {
      font-weight: normal;
      display: block;
      margin-bottom: 1.5em;
    }
  }


  @include mq($from: md) {


    background: url('../images/bg-section-home-why.jpg') no-repeat 50%;
    background-size: cover;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.65);
    }

    .SectionHome-content {
      font-size: 1.1em;

      strong {
        margin-bottom: 0;
        // font-weight: lighter;
      }
    }
  }
}