.SectionHomeHow {
  background-color: #e7e7e7;

  .SectionHome-content {
    text-align: center;
  }

  ol {
    @extend %list-clear;
    font-family: $altFontFamily;
    font-weight: lighter;
    display: inline-block;
  }

  li {
    margin-bottom: 1.5em;
    // position: relative;

    &:last-child {
      .Iconizer-picture {
        &:after {
          content: none;
        }
      }
    }
  }

  .Iconizer {
    margin-left: 0;
    &-picture {
      width: 7em;
      height: 7em;
      background-color: #fff;
      border-radius: 50%;
      position: relative;
      border: 5px solid #e7e7e7;
      box-shadow: -0.6px -1px 1px rgba(#000, 0.15);
      color: $accentColor;

      &:after {
        position: absolute;
        left: 50%;
        top: 100%;
        margin-top: 5px;
        content: "";
        height: 1.5em;
        width: 2px;
        background-color: #fff;
      }

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        height: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    &-content {
      margin-left: 1em;
      font-size: 1.5em;
    }
  }


  @include mq($from: md) {
    ol {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    li {
      margin-bottom: 0;
      position: relative;
    }

    .Iconizer {
      display: inline-block;
      text-align: center;

      &-slot {
        display: block;
        padding-left: 0;
        &:first-child {
          display: inline-block;
          background-color: #e7e7e7;
          padding-left: 7px;
          padding-right: 7px;
        }
      }

      &-picture {

        &:after {
          margin-top: 0;
          margin-left: 5px;
          top: 50%;
          width: 100%;
          height: 2px;
          left: 100%;
        }
      }

      &-content {
        margin-left: 0;
        margin-top: 0.7em;
      }
    }
  }
}