.SectionHome {
  padding-top: rem(50);
  padding-bottom: rem(50);
  // outline: 1px solid #be6;

  &-header {
    margin-bottom: rem(45);
  }

  &-title {
    font-size: 1.7em;
    margin: 0;
  }

  &--invertColor {
    color: #fff;
  }
}