.service {
  float: left;
  width: 50%;
  position: relative;
  transition: color 0.2s;
  color: #fff;
  margin-bottom: 1em;
  cursor: default;

  &:hover {
    color: #fff;
  }

  a {
    color: currentColor;
  }
  &__substrate-box {
    color: $accentColor;
    fill: $darkColor;
    position: relative;
    width: 100%;
    padding-top: 100%;
    height: 0;
    transform: rotate(-12deg);
    transition: fill 0.2s, color 0.3s, transform 0.3s 0.05s ease-out;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }

    .service:hover & {
      color: $accentColor;
      fill: $accentColor;
      transform: rotate(-29.4deg) scale(1.1);
    }
  }

  &__text-box {
    text-align: center;
    @extend %transform-middle;
    top: 50%;
    left: 50%;
    position: absolute;
    p {
      margin: 0;
    }
  }

  @include mq($from: sm) {
    width: percentage(1 / 3);
  }

  @include mq($from: md) {
    width: percentage(1 / 4);
  }

  @include mq($from: md) {
    width: percentage(1 / 4);
    font-size: rem(14);
  }

  @include mq($from: xl) {
    width: percentage(1 / 5);
  }
}