.ServiceShort {
  height: 0;
  padding-top: 100%;
  position: relative;
  display: block;
  background-color: #6bd;
  color: #fff;
  margin-bottom: $gutter;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(#000, 0.55);
    z-index: 1;
    transition: background-color 1.2s;
  }

  &:hover {
    &:before {
      background-color: rgba(#000, 0.6);
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.9s;

    .ServiceShort:hover & {
      transform: scale(1.2);
      transition: transform 1.9s linear;
    }
  }

  &-title {
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 1.3em;
    line-height: normal;
    font-weight: normal;
  }


  @include mq($from: sm) {
    margin-bottom: $gutter * 2;
  }


  @include mq($from: md) {
    margin-bottom: $gutter * 2;
  }


  @include mq($from: lg) {
    margin-bottom: $gutter * 2;

    &-title {
      font-size: 1.2em;
    }
  }
}