.site-footer {
  background-color: darken($darkColor, 5%);
  text-align: center;
  padding-top: rem(40);
  padding-bottom: rem(40);
  font-style: rem(20);
  color: #fff;
  font-weight: lighter;

  a {
    color: currentColor;
    text-decoration: none;
  }


  .button {
    white-space: normal;
    line-height: 1.4;
    text-transform: none;
    font-weight: lighter;
    transition: 0.23s;
  }

  @include mq($from: md) {
    text-align: left;
    > .container {
      padding-left: 0;
      padding-right: 0;
      display: table;
      width: 100%;
      > .row {
        display: table-row;
        > div {
          display: table-cell;
          padding: 0;
          vertical-align: middle;
          margin-bottom: 0;
          float: none;
        }
      }
    }

  }
}

.footer-nav {
  @extend %list-clear;
  li {

  }

  a {
    padding: 5px 0;
    text-decoration: none;
    display: inline-block;
    &:hover {
      color: $accentColor;
    }
  }
  @include mq($from: md) {
    a {
      padding: 3px 0;
    }
  }
}