.site-header-main {
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: url('../../images/bg-header-main.jpg') no-repeat bottom;
  background-size: cover;

  &__focus-text {
    line-height: 1.2;
    color: #fff;
    font-weight: bolder;
    font-size: rem(25);
    text-align: center;
    text-shadow: 0 9px 11px rgba(#000, 0.75), 0 9px 11px rgba(#000, 0.75);

    em {
      display: block;
      font-style: inherit;
      color: #D32F2F;
      color: #5FFFF3;
      -webkit-text-stroke: 1.5px #fff;
      -webkit-text-fill-color: #D32F2F;
    }
  }

  @include mq($from: sm) {
    min-height: 50vh;
  }

  @include mq($from: md) {
    padding-bottom: 70px;
    background: url('../../images/bg-header-main.jpg') no-repeat bottom;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 300px;
      top: 100%;
      background-color: #fff;
      z-index: 2;

      // Context .page-services
      .page-services & {
        background-color: #fff;
      }

      // Context .page-catalog
      .page-home & {
        background-color: $darkColor;
      }

      // Context .page--dark
      .page--dark & {
        background-color: darken($darkColor, 5%);
      }
    }

    &:before {
      right: 40%;
      transform-origin: 100% 0;
      transform: skewY(5deg);
    }

    &:after {
      left: 60%;
      transform-origin: 0 0;
      transform: skewY(-5deg);
    }


    &__focus-text {
      margin-top: 4em;
      font-size: rem(33);
    }
  }

  .header-wrapper-info-counters {
    margin-top: 1em;
    background-color: rgba(#000, 0.85);
    position: relative;
    padding: rem(14);
  }

  @include mq($from: lg) {
    
  }
}