.testimonials-list {
  margin-bottom: 5em;
}

.testimonial {
  & + & {
    margin-top: 3em ;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0.3em;
  }

  &__text {

  }

  &__meta {
    color: #8c8c8c;
    font-family: $altFontFamily;
    font-size: 0.85em;
  }


}