.Testimonial {
  @extend %border-rounded;
  line-height: 1.5;
  font-family: $altFontFamily;
  background-color: $lightColor;
  padding: 1em;
  margin-bottom: 2em;

  &-title {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: normal;
  }

  &-text {
    // font-weight: lighter;
    color: #444;
    margin-bottom: 0.8em;
    :last-child {
      margin-bottom: 0;
    }
  }

  &-footer {
    color: #777;
    font-size: 0.9em;
  }

  &-footer-item {

  }

  @include mq($from: md) {
    &-text {
      font-size: 0.92em;
    }

    &-footer {
      font-size: 0.8em;
    }
  }
}