.TopBar {
  text-align: center;
  &-piece {
    margin-bottom: 1.5em;
    &--filled {

    }
  }

  @include mq($from: md) {
    text-align: left;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    &-piece {
      // margin-bottom: 0;
      // display: inline-block;
      // vertical-align: middle;
      &--filled {
        // padding-left: 1em;
        // padding-right: 1em;
        // flex: 1 1 0%;
      }
    }
  }
}