html,
body {
  // height: 100%;
}

body {
  min-height: 100%;
  // background: linear-gradient(144deg, #a4d6ec, #8861cc);
}

::selection {
    color: #fff;
    background: rgba(#111, 0.8);
    
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  color: $accentColor;
  &[href^="tel:"] {
    color: inherit;
    text-decoration: none;
  }
}

