.LayoutHeader {
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 5;
  // box-shadow: 0 1px 2px rgba(#000, 0.4);


  @include mq($from: sm) {
    font-size: rem(14);
  }
}

.LayoutTopBar {

}

.LayoutMain {
  
}

.LayoutFooter {
  padding-top: rem(20);
  padding-bottom: rem(20);
  background-color: #eee;
}
