html {
  font-size: 15px;

  @include mq($from: sm) {
    font-size: map-get($container-fonts-size, "sm");
  }

  @include mq($from: md) {
    font-size: map-get($container-fonts-size, "md");
  }

  @include mq($from: lg) {
    font-size: map-get($container-fonts-size, "lg");
  }

  @include mq($from: xl) {
    font-size: map-get($container-fonts-size, "xl");
  }

  @include mq($from: xxl) {
    font-size: map-get($container-fonts-size, "xxl");
  }
}

body {
  line-height: $baseLineHeight;
  font-family: $mainFontFamily;
}



p, ul, ol, dl,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend {
  margin-top: 0;
  margin-bottom: 0.8em;
}



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend {
  font-family: $altFontFamily;
  margin-top: 2em;
  font-weight: normal;
}


h1, .h1 {
  font-size: 1.7em;
}

h2, .h2 {
  font-size: 1.5em;
}

h3, .h3 {
  font-size: 1.3em;
}

h4, .h4 {
  font-size: 1.1em;
}

h5, .h5 {
  font-size: 1em;
}

h6, .h6 {
  font-size: 0.9em;
}
