.SectionHomeWhat ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SectionHomeWhat ul li {
  width: calc(50% - 1em);
  background-color: #fff;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 1.5em;
}
