.SectionHomeAdditional .Iconizer-picture {
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  border: 5px solid #e7e7e7;
  box-shadow: -0.6px -1px 1px rgba(0, 0, 0, 0.15);
}

.SectionHomeAdditional .Iconizer-picture:after {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 5px;
  content: "";
  height: 1.5em;
  width: 2px;
  background-color: #fff;
}

.SectionHomeAdditional .Iconizer-content {
  margin-left: 1em;
  font-size: 1.5em;
}
