.Page {
  &-header {
    text-align: center;
    margin-bottom: rem(50);
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #afd;
    background-image: linear-gradient(to bottom right, #F9423E, #CE5590);
    color: #f9f9f9;
  }

  &-title {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgba(#000, 0.3);
  }


  .LayoutHeader {
    // border-bottom: 1px solid;
  }

  .LayoutMain {
    // padding-top: rem(50);
    padding-bottom: rem(50);
  }
}