

{% set services = __SELF__.services %}

{% for service in services %}
<div class="col-sm-6 col-md-4 col-lg-3 col-xxl-3">
    <a href="/services/{{service.slug}}" class="ServiceShort">
        <span class="ServiceShort-bg" style="background-image: url('{{service.img.path}}');"></span>
        <h2 class="ServiceShort-title">{{service.title}}</h2>
    </a>
</div>

{% endfor %}